# Data Structures in Python

1. What are data structures, and why are they important

     Data structures are ways to organize and store data in a computer. They are important because they help make programs run faster and use less memory.

2. Explain the difference between mutable and immutable data types with examples

      In Python, data types can be classified into two categories: mutable and immutable. Understanding the difference between these two is crucial for effective programming.

     #Immutable data types are those whose values cannot be changed once they are created. If you try to modify an immutable object, a new object is created instead. Common immutable data types in Python include.

     *Numbers: Integers, floats, and complex numbers are immutable.

     *Strings: Strings are sequences of characters and are immutable. Any operation that modifies a string will create a new string object.

     *Tuples: Tuples are ordered collections of items and are immutable. You cannot change the elements of a tuple once it is created.

     #Mutable data types are those whose values can be changed after they are created. Common mutable data types in Python include.

     *Lists: Lists are ordered collections of items and are mutable. You can add, remove, or change items in a list.

     *Dictionaries: Dictionaries are collections of key-value pairs and are mutable. You can add, remove, or change key-value pairs.

      *Sets: Sets are unordered collections of unique items and are mutable. You can add or remove items from a set.


3.  What are the main differences between lists and tuples in Python

      #Mutability

      *Lists: Mutable, meaning you can change, add, or remove elements after the list is created.

      *Tuples: Immutable, meaning once a tuple is created, you cannot change its elements.

      #Syntax

      *Lists: Defined using square brackets []

      *Tuples: Defined using parentheses ()

       #Performance

     *Lists: Generally slower than tuples because of their mutable nature.

     *Tuples: Faster than lists due to their immutability, which allows for optimizations.

     #Use Cases

     *Lists: Suitable for collections of items that may need to be modified.

     *Tuples: Suitable for fixed collections of items, such as coordinates or configuration settings

     #Methods

      *Lists: Have a variety of methods like append(), remove(), pop(), etc

      *Tuples: Have fewer methods, mainly count() and index()

     #Memory Usage

      *Lists: Consume more memory due to their dynamic nature.

      *Tuples: Consume less memory, making them more memory-efficient.

4. Describe how dictionaries store data

    1. Hash Table Implementation
    2. Key-Value Pairs
    3. Dynamic Resizing
    4. Memory Management

     EX:DICTIONARY= {'name': 'Alice', 'city': 'Paris', 'AGE': '30'}

5.  Why might you use a set instead of a list in Python

     Uniqueness: Sets automatically ensure that all elements are unique. If you need to store a collection of items and want to avoid duplicates, a set is the perfect choice.

     Performance: Sets provide faster membership tests compared to lists. Checking if an item is in a set is on average O(1) time complexity, whereas for a list, it is O(n).

     Set Operations: Sets support mathematical operations like union, intersection, difference, and symmetric difference. These operations are not directly available for lists and can be very handy for certain types of problems.

6.  What is a string in Python, and how is it different from a list

     Description:Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.

     Operations: Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.).

7.  How do tuples ensure data integrity in Python

      Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic makes tuples suitable for situations where data should remain constant throughout the program's execution, such as storing configuration settings or representing fixed records. Immutability prevents accidental or unauthorized changes, ensuring the consistency and reliability of the data. If there is a need to modify the data, a new tuple with the desired changes must be created, leaving the original tuple intact

8.  What is a hash table, and how does it relate to dictionaries in Python

      A hash table is a data structure that stores key-value pairs, similar to a dictionary. It uses a hash function to compute an index for each key, which determines the location where the value is stored.

      In Python, dictionaries are implemented using hash tables. When you create a dictionary, Python allocates a hash table to store the key-value pairs. When you add a new key-value pair to the dictionary, Python calculates the hash value of the key and uses it to determine the index in the hash table where the value should be stored. If a collision occurs, Python uses a collision resolution technique, such as separate chaining or open addressing, to handle the conflict.

9.  Can lists contain different data types in Python

     Yes,lists in Python are capable of storing elements of different data types. A single list can contain integers, floats, strings, booleans, and even other lists or more complex objects. This flexibility is a key feature of Python lists and distinguishes them from arrays in some other programming languages, which typically require all elements to be of the same type.

10.  Explain why strings are immutable in Python

      Immutability means that once an object is created, it cannot be changed. In Python, strings are immutable, which means that after a string is created, its value cannot be modified.

     #Memory Efficiency:

      Interning: Python uses a technique called string interning, where identical strings are stored only once in memory. This saves memory and speeds up comparisons. If strings were mutable, this optimization wouldn't be possible.

     #Thread Safety:

      Concurrency: In multi-threaded environments, immutable objects are inherently thread-safe. Since strings cannot be changed, there is no risk of one thread modifying a string while another thread is reading it.
      
     #Hashing:

      Dictionary Keys: Strings are often used as keys in dictionaries. For an object to be used as a key, it must be hashable, meaning its hash value must remain constant. Immutability ensures that the hash value of a string remains consistent throughout its lifetime.
      
     #Predictability:

      Consistency: Immutable objects are easier to reason about because their state cannot change unexpectedly. This leads to more predictable and bug-free code.

11. What advantages do dictionaries offer over lists for certain tasks

      Quick Data Look-ups: Dictionaries allow for fast access to values using keys, making them ideal for configurations or caches.

      Avoiding Information Overload: They help in organizing data efficiently, reducing complexity when handling large datasets.

      Flexibility: Dictionaries can store data in key-value pairs, which allows for more complex data structures compared to the linear nature of lists.

      Efficient Searching: For example, when storing phone numbers, dictionaries enable quicker searches for specific numbers compared to searching through a list of pairs.

      These features make dictionaries particularly useful in scenarios where quick access and organization of data are essential.

12. Describe a scenario where using a tuple would be preferable over a list

       se a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13.  How do sets handle duplicate values in Python

        In Python, sets are a collection type that automatically handle duplicate values by ensuring that each element is unique. When you add elements to a set, any duplicates are automatically removed. Here's a quick example to illustrate this.

14.  How does the “in” keyword work differently for lists and dictionaries

     #For dictionaries

      As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15.  Can you modify the elements of a tuple? Explain why or why not

      In Python, tuples are immutable. This means that you cannot modify them directly by adding, changing, or removing items (elements). If you need to work with mutable data, use lists instead.

16. What is a nested dictionary, and give an example of its use case

      Nesting Dictionary means putting a dictionary inside another dictionary. Nest.

In [63]:
nested_dict = {'dict1': {'key_A': 'value_A'},
               'dict2': {'key_B': 'value_B'}}
print(nested_dict)

{'dict1': {'key_A': 'value_A'}, 'dict2': {'key_B': 'value_B'}}

17. Describe the time complexity of accessing elements in a dictionary

     The time complexity of accessing an element in a Python dictionary is O(1) on average, but can be O(n) in the worst case. The worst case occurs when there are many hash collisions or when all elements are in a single hash bucket.

     Other dictionary operation time complexities:

      Adding a key-value pair: O(1) on average, O(n) worst case
      Modifying a value by key: O(1) on average, O(n) worst case
      Removing a key-value pair by key: O(1) on average, O(n) worst case
      Iterating over the keys, values, or items: O(n)

18. In what situations are lists preferred over dictionaries

       For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval

       Dictionaries are considered unordered because they do not maintain an inherent positional index like lists or arrays; instead, they use keys to uniquely identify and retrieve values associated with those keys. This means that the order in which elements are stored is not the same as the order in which they are printed. The unordered nature of dictionaries allows for optimized storage and fast retrieval based on keys, which can enhance performance when accessing data. However, this characteristic can lead to confusion when users expect elements to be in a specific order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

     A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

#Practical Questions

1.  write a program to print your name in python

In [12]:
name = "sindhuja"
print(name)

sindhuja

2. Write a code to find the length of the string "Hello World"

In [15]:
string = "Hello World"
length = len(string)
print(length)

11

  3.  Write a code to slice the first 3 characters from the string "Python Programming"

In [17]:
original_string =  "Python Programming"
sliced_string = original_string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [18]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [19]:
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it

In [20]:
NUMBER = [1,2,3,4,5]
print(NUMBER)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [21]:
NUMBER= [1,2,3,4]
NUMBER.append(10)
print(NUMBER)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [22]:
NUMBER= [1,2,3,4,5]
NUMBER.remove(3)
print(NUMBER)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [23]:
ELEMENT= ['a', 'b', 'c', 'd']
print(ELEMENT[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [24]:
LIST= [10, 20, 30, 40, 50]
LIST.reverse()
print(LIST)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [25]:
ELEMENT= (100, 200, 300)
print(ELEMENT)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [26]:
ELEMENT= ('red', 'green', 'blue', 'yellow')
print(ELEMENT[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [27]:
NUMBER= (10, 20, 5, 15)
print(min(NUMBER))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [28]:
ELEMENT= ('dog', 'cat', 'rabbit')
print(ELEMENT.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [29]:
ELEMENT= ('apple', 'banana', 'kiwi')
print("kiwi" in ELEMENT)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [31]:
ELEMRNT= ('a', 'b', 'c')
print(ELEMRNT)

('a', 'b', 'c')

In [32]:
ELEMENT= {'a', 'b', 'c'}
print(ELEMRNT)

('a', 'b', 'c')

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [33]:
ELEMENT= {1, 2, 3, 4, 5}
ELEMENT.clear()
print(ELEMENT)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [34]:
ELEMENT= {1, 2, 3, 4}
ELEMENT.remove(4)
print(ELEMENT)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [35]:
SET= {1, 2, 3}
SET1= {3, 4, 5}
print(SET.union(SET1))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [36]:
SET= {1, 2, 3}
SET1= {2, 3, 4}
print(SET.intersection(SET1))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [38]:
KEY= {"name": "sindhuja", "age": 30, "city": "hyderabad"}
print(KEY)

{'name': 'sindhuja', 'age': 30, 'city': 'hyderabad'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [40]:
DICTIONARY= {'name': 'John', 'age': 25}
DICTIONARY["country"] = "USA"
print(DICTIONARY)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [41]:
dictionary= {'name': 'Alice', 'age': 30}
print(dictionary["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [42]:
dictionary= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary["age"]
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [43]:
dictionary= {'name': 'Alice', 'city': 'Paris'}
print("city" in dictionary)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [44]:
dictionary= {'name': 'Alice', 'city': 'Paris'}
print(dictionary)

{'name': 'Alice', 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [45]:
LIST= [1,2,3,4,5]
LIST.sort()
print(LIST)

[1, 2, 3, 4, 5]

In [46]:
NUMBER= [15,26,3,47,5]
NUMBER.sort()
print(NUMBER)

[3, 5, 15, 26, 47]

28. Write a code to create a list with strings and print the element at the third index

In [56]:
ELEMENT= ['apple', 'banana', 'kiwi', 'ORANGE', 'GRAPE']
print(ELEMENT[-3])

kiwi

29.  Write a code to combine two dictionaries into one and print the result.

In [57]:
DICTIONARY= {'name': 'Alice', 'city': 'Paris'}
DICTIONARY1= {'name': 'Bob', 'age': 22, 'city': 'New York'}
DICTIONARY.update(DICTIONARY1)
print(DICTIONARY)

{'name': 'Bob', 'city': 'New York', 'age': 22}

30.  Write a code to convert a list of strings into a set.

In [58]:
LIST= ['apple', 'banana', 'kiwi', 'ORANGE', 'GRAPE']
SET= set(LIST)
print(SET)

{'kiwi', 'banana', 'ORANGE', 'apple', 'GRAPE'}

In [59]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}